<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="emp1" class="com.samitedureka.advancespring.Employee">
		<property name="eid" value="123"></property>
		<property name="ename" value="Samit Verma"></property>
		<property name="esalary" value="50000"></property>
	</bean>
	<bean id="emp2" class="com.samitedureka.advancespring.Employee">
		<property name="eid" value="124"></property>
		<property name="ename" value="Verma"></property>
		<property name="esalary" value="50000"></property>
	</bean>
	<bean id="emp3" class="com.samitedureka.advancespring.Employee">
		<property name="eid" value="125"></property>
		<property name="ename" value=" Verma"></property>
		<property name="esalary" value="50000"></property>
	</bean>
</beans>